<div class="container">
  <div class="container-lg mt-3 border">
  <div class="Banner">
    <div style="opacity:0.6;"> 
</div> 
      <img src="../assets/imagem/sangue.jpg">
  </div>
  <div class="button">
  <button type="button" class="btn btn-primary">Cadastre-se</button>
  </div>
  <div class="texto">
  <h1>Doaçaõ de sangue</h1>
</div>
</div>
  <div class="video1">
    <div class="row">
      <div class="col-lg">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/97Sx0KiExZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <div class="video2">
    <div class="row">
      <div class="col-lg">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZYHpCbLoc8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <div class="video3">
    <div class="row">
      <div class="col-lg">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/DEm2u5NXYdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <div class="video4">
    <div class="row">
      <div class="col-lg">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1rSf1JL4pT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>